@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  font-family: 'ABeeZee', sans-serif;
  color: #000;
  box-sizing: border-box;
  background-image: url("../images/background-image.png");
  background-size: contain;
  background-repeat: repeat;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: transparent;
}

body {
  width: 100%;
}

nav {
  padding-left: 0;
  list-style-type: none;
}

nav ul a {
  width: 75px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

nav ul a:hover {
  background-color: transparent;
  color: lightblue;
}

.group {
  text-align: right;
  display: inline-block;
}

.logo {
  width: 100%;
}

.space-fix {
  float: left;
  display: inline-block;
  width: 100px;
}

.position-right {
  float: right;
}

.slogan {
  left: 20%;
  top: 65%;
  transform: translate(-20%, -65%);
  -webkit-transform: translate(-20%, -65%);
}

.links {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease;
  font-family: sans-serif;
  border-bottom: solid 2px transparent;
}

.links:hover {
  border-bottom: solid 2px #fff;
}

.btn {
  padding: 10px 20px;
  color: #046180;
  border: 3px solid #046180;
  border-radius: 0;
  transition: all .5s ease;
  background-color: transparent;
}

.btn:hover {
  color: #e8a423;
  border: 3px solid #e8a423;
  background-color: transparent;
  border-radius: 30px;
}

.btn:focus {
  outline: 0;
  background-color: transparent;
}

a:focus {
  outline: 0;
}

footer {
  color: #fff;
  background-color: black;
}

.banner-2 {
  height: 200px;
}

.marg {
  margin:.65rem;
  text-decoration: none;
}

.exa {
  font-size: .9372rem;
  line-height: 1.5rem;
}

.btn-exa {
  font-size: .8784rem;
  line-height: 1.3rem;
}

.non-hidden {
  display: block;
}

.hiding {
  display: none;
}

.heebo {
  font-family: 'Heebo', sans-serif;
}

.bold {
  font-weight: 800;
}

.pbd {
  padding-bottom: 2.6rem;
}

.ptd {
  padding-top: 2.6rem;
}

.card {
  -webkit-filter: brightness(100%);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.card:hover {
  -webkit-filter: brightness(80%);
}

.glow {
  padding: .4rem;;
  color: #046180;
  transition: all .5s ease;
  background-color: transparent;
}

.glow:hover {
  color: #e8a423;
  background-color: transparent;
}

.m-right {
  margin-right: 10px;
}

.title {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  letter-spacing: .75em;
}

.banner {
  height: 50vh;
}

.banner-3 {
  height: 100%;
}

.banner-4 {
  height: 100%;
}

.container {
  max-width: 50%;
}

.notation {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 80%;
}

.banner-background {
  background-color: #fff;
}

.me {
  vertical-align: middle;
  width: 80%;
}

.half {
  width: 100%;
}

.left {
  float: none;
}

.right {
  float: none;
}

.pad-tb {
  padding-top: 1em;
  padding-bottom: 1em;
}

.spec-island {
  padding: 0;
}

.max-length-2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 36em;
  width: 100%;
}

@media only screen and (min-width: 25em) {

  .spec-island {
    padding: 2.6rem;
  }

}

@media only screen and (min-width: 38em) {

  .contact {
    text-align: center;
  }

  .banner-2 {
    height: 300px;
  }

  .yotta {
    font-size: 1.5745rem;
    line-height: 2.275rem;
  }

  .exa {
    font-size: 1.383rem;
    line-height: 2.275rem;
  }

  nav ul a {
    padding-top: 0.2em;
    width: 100px;
  }

  .slogan {
    left: 25%;
    top: 65%;
    transform: translate(-25%, -65%);
    -webkit-transform: translate(-25%, -65%);
  }

  .line {
    max-width: 750px;
  }

  .non-hidden {
    display: none;
  }

  .hiding {
    display: block;
  }

  .space-fix {
    width: 150px;
    padding-top: 3px;
  }

  .title {
    letter-spacing: .85em;
  }

  .banner {
    height: 85vh;
  }

  .nudge-top {
    padding-top: .4rem;
  }

  .notation {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 60%;
  }

  .max-length-2 {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
  }

  .half {
    vertical-align: middle;
    width: 49%;
  }

  .i2 {
    padding-left: .65rem;
  }

  .i1 {
    padding-right: .65rem;
  }

  h2 {
    margin: 0;
  }

  .align-text {
    padding-top: 5%;
  }

}

@media only screen and (min-width: 60em) {

  .slogan {
    top: 62%;
    -webkit-transform: translate(-25%, -62%);
  }

  .title {
    letter-spacing: .85em;
  }

  .space-fix {
    width: 200px;
  }

  .i2 {
    padding-left: 1.3rem;
  }

  .i1 {
    padding-right: 1.3rem;
  }

  .notation {
    top: 50%;
    left: 80%;
    transform: translate(-80%, -50%);
    -webkit-transform: translate(-80%, -50%);
    width: 40%;
  }

  .align-text {
    padding-top: 15%;
  }

  .push-in {
    margin-left: 10%;
    margin-right: 10%;
  }
}
