@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  font-family: 'ABeeZee', sans-serif;
  color: #000;
  box-sizing: border-box;
  background-color: #f3f3f3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: transparent;
}

body {
  width: 100%;
}

nav {
  padding-left: 0;
  list-style-type: none;
}

nav ul a {
  width: 75px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}

nav ul a:hover {
  background-color: transparent;
  color: lightblue;
}

.group {
  text-align: right;
  display: inline-block;
}

.space-fix {
  float: left;
  display: inline-block;
  width: 100px;
}

.position-right {
  float: right;
}

.logo {
  width: 100%;
}

.links {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease;
  font-family: sans-serif;
  border-bottom: solid 2px transparent;
}

.links:hover {
  border-bottom: solid 2px #fff;
}

.btn {
  font-weight: normal;
  padding: 5px 10px;
  color: #fff;
  border: 2px solid grey;
  border-radius: 20px;
  background-color: grey;
  transition: all .5s ease;
}

.btn:hover {
  color: #fff;
  background-color: lightblue;
  border-color: lightblue;
}

.btn:focus {
  outline: 0;
  border-radius: 20px;
  background-color: lightblue;
  border-color: lightblue;
}

a:focus {
  outline: 0;
}

footer {
  background-color: transparent;
}

.banner {
  min-height: 400px;
}

.marg {
  margin:.65rem;
  text-decoration: none;
}

.yotta {
  font-size: 1rem;
  line-height: 1.5rem;
}

.exa {
  font-size: .9372rem;
  line-height: 1.5rem;
}

.btn-exa {
  font-size: .8784rem;
  line-height: 1.3rem;
}

.non-hidden {
  display: block;
}

.heebo {
  font-family: 'Heebo', sans-serif;
}

.bold {
  font-weight: 800;
}

.milli {
  font-size: .8784rem;
  line-height: 1.3rem;
}

.cards {
  width: 98%;
}

.margin-around {
  margin: 1.5%;
}

.banner-second {
  background-color: #e6e6e6;
}

.slogan {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -10%);
  -webkit-transform: translate(-50%, -10%);
}

.image {
  width: 192px;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  -webkit-transform: translate(-50%, -30%);
}

@media only screen and (min-width: 38em) {

  .contact {
    text-align: center;
  }

  .banner {
    height: 636px;
  }

  .yotta {
    font-size: 1.5745rem;
    line-height: 2.275rem;
  }

  .exa {
    font-size: 1.383rem;
    line-height: 2.275rem;
  }

  nav ul a {
    padding-top: 0.2em;
    width: 100px;
  }

  .btn {
    padding: 10px 20px;
    color: #fff;
    border: 2px solid grey;
    border-radius: 30px;
    background-color: grey;
    transition: all .5s ease;
  }

  .line {
    max-width: 750px;
  }

  .non-hidden {
    display: none;
  }

  .hiding {
    display: block;
  }

  .micro {
    font-size: 1.1385rem;
    line-height: 1.625rem;
  }

  .space-fix {
    width: 150px;
    padding-top: 3px;
  }

  .milli {
    font-size: .9372rem;
    line-height: 1.3rem;
  }

  .cards {
    width: 46.5%;
  }

  .margin-around {
    margin: 1.5%;
  }

  .slogan {
    left: 15%;
    top: 50%;
    transform: translate(-15%, -50%);
    -webkit-transform: translate(-15%, -50%);
  }

  .image {
    left: 85%;
    top: 50%;
    transform: translate(-85%, -50%);
    -webkit-transform: translate(-85%, -50%);
  }
}

@media only screen and (min-width: 60em) {

  .banner {
    height: 718px;
  }

  .banner-second {
    height: 775px;
  }

  .space-fix {
    width: 200px;
  }

}
