<!DOCTYPE html>
  <html lang="en-ca">
  <head>
    <meta charset="utf-8">
    <title>Brandon Cardenas Designs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee|Heebo:400,800" rel="stylesheet">
    <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grids.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
    {{page.css | replace:"++site.baseurl++", site.baseurl}}
  </head>
  <body>

    <header class="relative zindex-2" role="banner">
      <nav class="island-half" id="nav">
        <div class="space-fix">
          <i>
            <a href="{{site.baseurl}}/index/">
              <img class="icon logo" src="{{site.baseurl}}/images/logo-placeholder.svg" alt="Brandon Cardenas Design's Logo" aria-describedat="A logo that says Brandon, but is composed to say Brand On instead.">
            </a>
          </i>
        </div>
        <div class="inline-block position-right group">
          <ul class="list-group-inline push-0">
            <li class="push-0"><a class="micro text-center" href="{{site.baseurl}}/work/">work</a></li>
            <li class="push-0"><a class="micro text-center" href="{{site.baseurl}}/contact/">contact</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      {{content}}
    </main>

    <footer class="text-center footer push gutter">
      <p class="milli push-0 inline-block">Copyright © 2017 Brandon Cardenas.</p>
      <p class="milli push-half inline-block ">All rights reserved.</p>
      <div class="list-group list-group-inline">
        <a class="marg" href="#">
          <i class="icon i-32">
            <img src="{{site.baseurl}}/images/placeholder-icon.jpg">
          </i>
        </a>
        <a class="marg" href="#">
          <i class="icon i-32">
            <img src="{{site.baseurl}}/images/placeholder-icon.jpg">
          </i>
        </a>
        <a class="marg" href="#">
          <i class="icon i-32">
            <img src="{{site.baseurl}}/images/placeholder-icon.jpg">
          </i>
        </a>
        <a class="marg" href="#">
          <i class="icon i-32">
            <img src="{{site.baseurl}}/images/placeholder-icon.jpg">
          </i>
        </a>
      </div>
    </footer>

  </body>
  </html>
</title>
</head>
<body>

</body>
</html>
