<!DOCTYPE html>
  <html lang="en-ca">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee|Heebo:400,800" rel="stylesheet">
    <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grids.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/home.css" ref="stylesheet">
  </head>
  <body>

    <header class="relative zindex-2" role="banner">
      <nav class="island-half" id="nav">
        <div class="space-fix">
          <i>
            <a href="{{site.baseurl}}/index/">
              <img class="icon logo" src="{{site.baseurl}}/images/logo-placeholder.svg" alt="Brandon Cardenas Design's Logo" aria-describedat="A logo that says Brandon, but is composed to say Brand On instead.">
            </a>
          </i>
        </div>
        <div class="inline-block position-right group">
          <ul class="list-group-inline push-0">
            <li class="push-0"><a class="kilo inline m-right glow text-center" href="{{site.baseurl}}/photography/">photography</a></li>
            <li class="push-0"><a class="kilo inline glow text-center" href="{{site.baseurl}}/contact/">contact</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      {{content}}
    </main>

    <footer class="text-center footer pbd ptd gutter">
      <p class="milli push-0 inline-block">Copyright © 2017 Brandon Cardenas.</p>
      <p class="milli push-half inline-block ">All rights reserved.</p>
      <div class="list-group list-group-inline">
        <a class="marg" href="https://www.facebook.com/brandon.cardenas.961">
          <i class="icon i-32">
            <img src="{{site.baseurl}}/images/facebook-logo.png">
          </i>
        </a>
        <a class="marg" href="https://twitter.com/CardenasDesigns">
          <i class="icon i-32">
            <img src="{{site.baseurl}}/images/twitter-logo.png">
          </i>
        </a>
        <a class="marg" href="https://www.instagram.com/bcard0154/">
          <i class="icon i-32">
            <img src="{{site.baseurl}}/images/instagram-logo.png">
          </i>
        </a>
        <a class="marg" href="https://www.behance.net/card015495ee">
          <i class="icon i-32">
            <img src="{{site.baseurl}}/images/behance-logo.png">
          </i>
        </a>
      </div>
    </footer>
  </body>
</html>
